.hero-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* circulo background */
.hero-container::after,
.hero-container::before {
  content: " ";
  width: 28.125rem;
  height: 28.125rem;
  border-radius: 28.125rem;
  background: #5166b9;
  position: absolute;
  z-index: -1;
  filter: blur(225px);
  /* fuciona el circulo con el background */
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 1;
}

.hero-content h2 {
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}



.cv-btn {
  /* Estilos para el botón */
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 1.5rem;
  background: linear-gradient(90deg, #5060ec, #3043e9 100%);
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cv-btn:before {
  /* Efecto de resaltado al pasar el cursor sobre el botón */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.cv-btn:hover:before {
  /* Efecto de resaltado al pasar el cursor sobre el botón */
  transform: translateX(100%);
}

.cv-btn:hover {
  /* Efecto de sombra al pasar el cursor sobre el botón */
  box-shadow: 0 0 10px rgba(80, 96, 236, 0.7), 0 0 20px rgba(48, 67, 233, 0.7),
    0 0 30px rgba(80, 96, 236, 0.7), 0 0 40px rgba(48, 67, 233, 0.7);
}

.cv-btn.resaltado:before {
  /* Efecto de resaltado al mostrar el botón */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  transform: translateX(-100%);
  transition: all 0.3s ease;
  animation: resaltado 3s ease infinite;
}

@keyframes resaltado {
  /* Animación de efecto de resaltado */
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.hero-img>div {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.hero-img>div>img {
  width: 25rem;
  transition: all 0.3s ease;
}

.tech-icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.65rem;
  border: 1.5px solid #2d3bdc;
}

.tech-icon img {
  width: 3rem;
  height: auto;
  transition: all 0.3s ease;
}

.hero-img>div>img:hover,
.tech-icon img:hover {
  transform: translateY(-0.5rem);
}

/* ordena para pantalla 1025 */
@media (max-width: 1025px) {
  .hero-content h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .hero-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }

  .hero-img>div>img {
    width: 20rem;
  }

  .tech-icon {
    width: 4rem;
    height: 4rem;
  }

  .tech-icon img {
    width: 2.5rem;
  }
}

/* ordena para pantalla de 768 */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-img {
    margin: 2rem 0 2rem 0;
  }

  .hero-container h2 {
    margin-top: 3rem;
  }

  .hero-content h2,
  .hero-content p {
    width: auto;
    text-align: center;
  }

  /* oscurece fondo */
  .hero-container::after,
  .hero-container::before {
    content: " ";
    width: 18rem;
    height: 18rem;
  }

  .hero-container::after {
    top: 0rem;
    left: 0rem;
  }

  .hero-container::before {
    bottom: 2rem;
    right: 0rem;
  }
}

/* ordena elementos para 600 */
@media (max-width: 600px) {
  .hero-content h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .hero-content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .hero-img {
    gap: 1rem;
  }

  .hero-img>div {
    gap: 1rem;
  }

  .hero-img>div>img {
    width: 16rem;
  }

  .tech-icon {
    width: 3.3rem;
    height: 3.3rem;
  }

  .tech-icon img {
    width: 2rem;
  }
}

